doctype html
html

	//- HTML HEADER
	head
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Linkwatch'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/css/site.css", rel="stylesheet")

		// Bootstrap Core CSS
		link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')

		// Custom CSS
		link(href='/css/sb-admin-2/sb-admin-2.css', rel='stylesheet')

		// Custom Fonts
		link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		#wrapper
			
			// Navigation
			nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') 
						img.logo(alt='logo', src='../img/linkwatch_logo.png')
				// /.navbar-header
				ul.nav.navbar-top-links.navbar-right
					if issignedin
						li
							a(href='/signin')
								| Logga ut 
					else
						li
							a(href='/signin')
								| Logga in 
						
			if issignedin
				.navbar-default.sidebar(role='navigation')
					.sidebar-nav.navbar-collapse
						ul#side-menu.nav
							li
								a(href='/addplan')
									i.fa.fa-plus.fa-fw
									|  Ny vårdplan
							li
								a(href='#c')
									i.fa.fa-id-badge.fa-fw
									|  Patienter
								
						

		//- BODY
		//#body
		#page-wrapper
			

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER
		.container: #footer

			//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
			//- p Linkwatch 2017.


		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		//script(src='/js/jquery/jquery-1.11.3.min.js')

		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		//script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
				   
		//- Add scripts that are globally required by your site here.
		// jQuery
		script(src='/bower_components/jquery/dist/jquery.min.js')  
		// Bootstrap Core JavaScript
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		// Metis Menu Plugin JavaScript
		script(src='/bower_components/metisMenu/dist/metisMenu.min.js')
		// Theme js
		script(src='/js/sb-admin-2.js')

		//- Include template-specific javascript files by extending the js block
		block js
